<header>
  <div class="jumbotron">
    <div class="nav">
        <span id="homelink">{{#link-to 'index'}}Home{{/link-to}}</span>
    </div>
  <h2 class="text-center">Answer This!</h2>
</div>
</header>
{{outlet}}
